<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.admin.dao.IMaintenanceChartsDao">

    <select id="getMaintenanceCharts" resultMap="maintenanceChartsResultMap">
        select COUNT(item_types.`name`) as value, item_types.`name` as name
        from maintenance
                 LEFT JOIN items on maintenance.item_id = items.id
                 LEFT JOIN item_types on item_types.id = items.type_id
        where items.is_del=0 and item_types.is_del=0 and maintenance.is_del=0
        GROUP BY item_types.`name`
    </select>

    <resultMap id="maintenanceChartsResultMap" type="com.admin.bean.MaintenanceCharts">
        <id property="value" column="value"/>
        <id property="name" column="name"/>
    </resultMap>

</mapper>